.container{
    padding: 0;
}

.media{
    background-color: whitesmoke;
}

.logo{
    width: 75px;
    margin: 10px;
    float: left;
}

.media-body{
    float: left;
}

.chat_title{
    margin-top: 20px;
}

#chatContainer{
    height: 300px;
    padding: 0;
}